
.body {
    background-image: url('../img/background.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

/*.nav {*/
/*    background-color: transparent;*/
/*    backdrop-filter: blur(5px);*/
/*}*/

.main {
    margin: 30px;
    background-color: transparent;
    backdrop-filter: blur(3px);
}

.navigation {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.comment {
    margin: 10px 0;
}

.details-media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.center-text {
    text-align: center;
}

.span-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    margin: 50px;
}

.text-main {
    color: #999;
}

.page-navigation {
    text-align-last: center;
}

.input-text {
    background-color: transparent;
    color: whitesmoke;
}

.white-smoke-text {
    color: whitesmoke;
}

.media-repeat {
    margin: 10px 0;
}

.link-text {
    color: whitesmoke;
    text-decoration: none;
}

.text-area {
    color: whitesmoke;
    background-color: transparent;
}

.repeat-btn {
    background-color: transparent;
    color: whitesmoke;
    float: right;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
}

.comment_sp {
    margin: 0;
}

.icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.active{
    color: gray;
}

.icon:hover{
    color: gray;
}

.tran-background {
    background-color: transparent;
}

.comment-btn:hover {
    background-color: whitesmoke;
    color: black;
}

.comment-btn:focus {
    color: gray;
}

.comment-drop-menu {
    background-color: gray;
}

.btn-pub {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

.btn-pub:hover {
    color: gray;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid whitesmoke;
}

.collapse-border {
    border: 1px solid whitesmoke;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.collapse-text {
    margin-bottom: 20px;
}

.content {}