<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>第一个社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body class="body">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-main"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="questionDTO: ${pageDTO.questionDTOList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${questionDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/details/' + ${questionDTO.id}}" th:text="${questionDTO.title}"></a>
                    </h4>
                    <span th:text="${questionDTO.description}" class="text-main"></span>
                    <br>
                    <span class="text-desc"><span th:text="${questionDTO.commentCount}"></span> 个回复 · <span
                            th:text="${questionDTO.viewCount}"></span> 个浏览 · <span
                            th:text="${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <div th:insert="~{page :: page}"></div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3 class="text-main">热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>