<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body class="body">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 white-smoke-text">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div th:if="${section == 'published'}">
                <div class="media" th:each="DTO: ${pageDTO.DTOList}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${DTO.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:text="${DTO.title}" th:href="@{'/details/' + ${DTO.id}}" class="link-text"></a>
                        </h4>
                        <span th:text="${DTO.description}"></span>
                        <br>
                        <span class="text-desc"><span th:text="${DTO.commentCount}"></span> 个回复 · <span
                                th:text="${DTO.viewCount}"></span> 个浏览 · <span
                                th:text="${#dates.format(DTO.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span></span>
                    </div>
                </div>
            </div>
            <div th:if="${section == 'reply'}">
                <div class="media" th:each="DTO: ${pageDTO.DTOList}">
                    <h4 class="media-heading">
                        <span th:class="${DTO.status == 0 ? 'glyphicon glyphicon-alert' : 'glyphicon glyphicon-check'}"></span>
                        <a th:text="${DTO.notifier.name}" href="#"></a>
                        <span th:text="${DTO.type == 1 ? ' 回复了问题 ' : ' 回复了回复 '}"></span>
                        <a th:text="${DTO.outerTitle}" th:href="@{'/notification/' + ${DTO.outerId}}"></a>
                    </h4>
                    <div class="media-body">
                        <span th:text="${#dates.format(DTO.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" th:if="${pageDTO.getTotalPage() != 0}">
                <ul class="pagination">
                    <li th:if="${pageDTO.showFirstPage}">
                        <a aria-label="Previous" th:href="@{'/profile/'+${section}(page=1)}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showPrevious}">
                        <a aria-label="Previous" th:href="@{'/profile/'+${section}(page=${pageDTO.currentPage - 1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page: ${pageDTO.pages}" th:class="${pageDTO.currentPage == page} ? 'active' : ''">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pageDTO.showNextPage}">
                        <a aria-label="Next" th:href="@{'/profile/'+${section}(page=${pageDTO.currentPage + 1})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showEndPage}">
                        <a aria-label="Next" th:href="@{'/profile/'+${section}(page=${pageDTO.totalPage})}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/profile/published"
                   th:class="${section == 'published'} ? 'active list-group-item' : 'list-group-item'">我的发布</a>
                <a href="/profile/reply"
                   th:class="${section == 'reply'} ? 'active list-group-item' : 'list-group-item'">
                    最新回复
                    <span class="badge" th:text="${session.replyNumber}" th:if="${session.replyNumber > 0}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>