<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 第一个社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/editormd/css/editormd.css"/>
    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/editormd/editormd.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd("test-editor", {
                width: "100%",
                height: 640,
                path: "/editormd/lib/",
                theme: "dark",//工具栏主题
                previewTheme: "dark",//预览主题
                editorTheme: "pastel-on-dark",//编辑主题
                delay: 0,
                watch: false,
                placeholder: "请输入问题描述",
                // TODO: 添加img upload
                // imageUpload: true,
                // imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                // imageUploadURL:"/file/upload",
            });
        });
    </script>
</head>
<body class="body">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-main">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span th:text="${questionType}"></span>
            </h2>
            <hr>

            <form action="/publish" method="post">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" name="id" th:value="${id == null ? id : 0}">
                    <label for="title" class="text-main">问题标题</label>
                    <input type="text" class="form-control input-text" id="title" name="title"
                           placeholder="问题标题(简单扼要)" th:value="${questionTitle}">
                    <span class="alert alert-danger col-lg-12 col-md-12 col-xs-12"
                          th:text="${title}"
                          th:if="${title != null}">
                        </span>
                </div>
                <div class="form-group" id="question_editor">
                    <label for="description" class="text-main">问题补充</label>
                    <div id="test-editor" class="editormd-theme-dark">
                        <textarea name="description" id="description" th:text="${description}" class="form-control"
                                  cols="30" rows="10">
                        </textarea>
                    </div>
                    <span class="alert alert-danger col-lg-12 col-md-12 col-xs-12"
                          th:text="${description}"
                          th:if="${description != null}">
                        </span>
                </div>
                <div class="form-group">
                    <label for="title" class="text-main">添加标签</label>
                    <input type="text" class="form-control input-text" id="tag" name="tag" placeholder="输入标签"
                           th:value="${questionTag}" autocomplete="off" onclick="showTagDialogue()">

                    <div id="tagDialogue" class="tag-dialogue">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs white-smoke-text" role="tablist">
                            <li role="presentation" th:each="tagDTO, tagDTOStatus: ${tagDTOList}"
                                th:class="${tagDTOStatus.first ? 'active' : ''}">
                                <a th:href="@{'#' + ${tagDTO.alTagName}}" aria-controls="language" role="tab"
                                   data-toggle="tab" class="white-smoke-text" th:text="${tagDTO.alTagName}"></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content white-smoke-text tag">
                            <div role="tabpanel" th:id="${tagDTO.alTagName}"
                                 th:class="${tagDTOStatus.first ? 'active tab-pane' : ' tab-pane '}"
                                 th:each="tagDTO, tagDTOStatus: ${tagDTOList}">
                                <span class="label label-default tag white-smoke-text-imp"
                                      th:each="detailTag: ${tagDTO.detailTagName}"
                                      onclick="selectTag(this)"
                                      th:data-tag="${detailTag}">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span th:text="${detailTag}"></span>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div>

                    </div>
                    <span class="alert alert-danger col-lg-12 col-md-12 col-xs-12"
                          th:text="${tag}"
                          th:if="${tag != null}">
                        </span>
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <span class="alert alert-danger col-lg-9 col-md-12 col-xs-12"
                              th:text="${error}"
                              th:if="${error != null}">
                        </span>
                        <button type="submit" class="btn btn-publish btn-pub col-lg-3 col-md-12 col-xs-12"
                                th:text="${questionType}">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 white-smoke-text">
            <h3>问题发起指南</h3>
            <br/>
            •问题标题：请用精简的语言描述您发布的问题，不超过25字;
            <br/>
            •问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料;
            <br/>
            •选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字;
        </div>
    </div>
</div>

<script>
    // 判断是否被选中的是标签输入框或者标签页，如果是则不允许消失实现
    var td = false;
    var ta = false;
    $("#tagDialogue").click(function (event) {
        td = true;
    });
    tag
    $("#tag").click(function (event) {
        ta = true;
    });
    $(document).click(function () {
        if (!td && !ta) {
            $("#tagDialogue").hide();
        }
        td = false;
        ta = false;
    });
</script>
</body>
</html>